/* .sidebar {
    background-color: #111;
    width: 250px;
    height: 100vh;
}

.sidebar h2 {
    font-size: 24px;
}

.sidebar a {
    text-decoration: none;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: #333;
    border-radius: 5px;
}

.sidebar img {
    width: 150px;
} */

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    height: 100vh; /* Ensure the sidebar takes full height */
}


.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}



/* Ensure main content has padding */
main {
    margin-left: 2rem; /* Add margin to accommodate sidebar */
}

footer {
    background-color: #f8f9fa; /* Light background for footer */
    padding: 1rem; /* Padding for footer */
    text-align: center; /* Center the text */
}