{% extends "base.html" %}

{% block main %}
<!-- <title>Wright Portfolio</title> -->


    <div class="p-4" style="flex-grow: 1;">
        <h1>Main Content Here</h1>
        <p>This is where your main page content will go.</p>
    </div>
     <!-- Hero Section -->
     <section id="hero" class="hero section dark-background">

        <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in" class="">
  
        <div class="container text-center mt-5" id="about">
            <h2>Kerene Wright</h2>
            <p>I'm <span class="typed"></span></p>
        </div>
  
      </section><!-- /Hero Section -->

    
</div>

{% endblock %}
